/*****************************/
/***  For multiple pages:  ***/
/*****************************/

h1, h2, h3, h4, h5, h6 {
	color:#18612A;
	font-variant: small-caps;
	font-family:'JournalRegular', "Century Gothic", serif, Arial;
    font-size:1.6em;
}

.left { display: block; clear:none; float: left; }
.right { display: block; clear:none; float: right; }

div.box h1,
div.box h2,
div.box h3,
div.box h4,
div.box h5,
div.box h6{
	color:#E2E2E2;
	background:#18612A url(../images/bg/bg_h1.gif) top repeat-x;
	margin:0;
	padding:3px;
	text-align:center;
}
div.box {
	border:1px solid #18612A;
	background-color:white !important;
	margin:0 auto 10px auto;
}
div.box p {
	margin-left:5px;
	margin-right:5px;
}

blockquote {
    padding:0;
    margin:10px;
    background:url('../images/bg/blockquote_bottomright.gif') bottom right no-repeat #FFCC33;
    float:right;
    font-style: italic; 
}
blockquote p {
    margin:0 !important;
    padding:15px 0;
    background:url('../images/bg/blockquote_topleft.gif') top left no-repeat;
    width:231px;
    text-align:center;
}

hr 
{
    margin:20px;
    padding:0;
    border:0;
    background:#18612a;
    height:4px;
    color:#18612a;
}

input.text, textarea { background-color:#EEE; border:1px solid #AAA; }
input.text.focused, textarea.focused, input.text:hover, textarea:hover { border-color:#333; background-color:#DDD; }

/*****************************/
/***  Just for one page:   ***/
/*****************************/

				/*** default_aspx ***/

#default_aspx div.footer  {
    margin-top:0;
}

#default_aspx div#home_banner{
	background:white;
	height:auto;
	text-align:center;
	border-bottom:3px solid #18612A;
}
#default_aspx #home_banner h2{
	margin:0;
}
#default_aspx #home_banner a:hover{
	background:none !important;
}
#default_aspx img#wl_logo{
	margin-top:5px;
}

#default_aspx div#partners{
	text-align:center;
	padding:5px 0;
}
#default_aspx div#partners img{
	vertical-align:top;
}

/* Other images in the white header section*/
#default_aspx div#forum-advert-wrapper { float:right; width:150px; margin:10px 10px 0 0; }
#default_aspx a#forum-advert { color:rgb(105,142,43); text-decoration:none; text-align:center; font-weight:bold; padding-bottom:20px; }
#default_aspx a#forum-advert span { color:rgb(55,77,90); }
#default_aspx a#forum-advert img { display:block; width:100px; margin:0 auto; }
#default_aspx a#ExeterForestSchool_logo { float: left; padding-left:5px; }


/* twitter-panel */

#default_aspx #main { clear:none; }
#default_aspx div#twitter-feed { float:right; width:150px; margin:10px 10px 0 0; }
#default_aspx div#twitter-feed h2 { background:url('../images/logos/twitter-feed.jpg') no-repeat; margin:0; padding:0; height:47px; text-indent:-10000px; }
#default_aspx div#twitter-feed div.tweets { font-size:12px; text-align:right; }
#default_aspx div#twitter-feed a { color:#18612A; text-decoration:underline; display:block; }
#default_aspx div#twitter-feed li { padding-bottom:20px;}

/*** Central acorn grayscale:  Core: ***/


div#HomePageLinks { width:628px; height:300px; margin:0 auto; margin:20px auto; background:url('../images/default_aspx/home_seasons.jpg') no-repeat; }
div#HomePageLinks div.relative { position:relative; }

#default_aspx #HomePageLinks div.acorn { position:absolute; left:269px; top:57px; }

#default_aspx #HomePageLinks .relative div { width:110px; height:152px; }
#default_aspx #HomePageLinks img { display:none; }

#default_aspx #HomePageLinks a { margin:0; padding:0; position:absolute; display:block; text-indent:-10000px; background-repeat:no-repeat; background-position:top left; display:none; }
#default_aspx #HomePageLinks a.nav_gallery   { width:112px; height:19px; top:48px;   left:165px; }
#default_aspx #HomePageLinks a.nav_courses   { width:62px;  height:10px; top:115px;  left:120px; }
#default_aspx #HomePageLinks a.nav_who       { width:108px; height:15px; top:179px; left:94px; }
#default_aspx #HomePageLinks a.nav_contact   { width:88px;  height:11px; top:240px; left:160px; }
#default_aspx #HomePageLinks a.nav_events    { width:49px;  height:13px; top:52px;   right:190px; }
#default_aspx #HomePageLinks a.nav_about     { width:186px; height:13px; top:115px;  right:30px; }
#default_aspx #HomePageLinks a.nav_how       { width:112px; height:18px; top:180px; right:103px; }
#default_aspx #HomePageLinks a.nav_thinktank { width:92px;  height:12px; top:239px; right:157px; }

#default_aspx #HomePageLinks div.acorn,
#default_aspx #HomePageLinks div.acorn div { background:url('../images/default_aspx/home_acorn_sprite.gif') no-repeat left top; }
#default_aspx #HomePageLinks div.acorn div { background-position:-110px 0; }

				/*** mission_aspx ***/

#mission_aspx img#jSlide_image {
    display:block;  
}
#mission_aspx div#main {
	width:914px;
}
#mission_aspx div.box {
	margin-bottom:0;
}
#mission_aspx div.box#jSlide_bottom {
	border-top:0;
}

				/*** gallery_aspx ***/
#gallery_aspx div#heightFix{
	float:left;
	width:1px;
	height:750px;
}
#gallery_aspx #carousel img {
	border: 2px solid #ddd;
}
#gallery_aspx div#holder_images {
	text-align:center;
}
#gallery_aspx div.box {
	width:500px;
	position:absolute;
	bottom:10px;
	left:200px
}

/*Simple Gallery */

ul.SimpleGallery {  text-align:center; }
ul.SimpleGallery li { width:33%; height:330px; float:left; }
ul.SimpleGallery span { display:block; clear:both; }


				/*** who_are_we_aspx ***/

#who_are_we_aspx #profile_shevek img { float:right; display:block; padding-left:5px; }
#who_are_we_aspx #profile_tom img { float:left;   display:block;  padding-right:5px; }

				/*** courses_aspx ***/
/* pdf */
#courses_aspx .pdf li a{
	background:url(../images/courses_aspx/pdf_icon_composite.gif) no-repeat 80px top;
	width:200px;
	display:block;
	padding-top:70px;
	font-family:"courier new";
	color:black;
}
#courses_aspx .pdf li a:hover{
	background-position:-60px top;
}
#courses_aspx .pdf ul {
	width:800px;
	margin:16px auto;
}
#courses_aspx .pdf li {
	float:left;
	text-align:center;
	margin: 0 20px 10px 20px;
}

/* CourseList */
#courses_aspx div.CourseList div.list {
    width:24%;
    margin:5px;
    float:left;
}
#courses_aspx div.CourseList div.list div {
    padding:10px;
}
#courses_aspx div.CourseList div.list li { border-bottom:1px dashed #222; margin:5px; padding-bottom:5px; text-align:center; }
#courses_aspx div.CourseList div.list li a { color:#222; }

#courses_aspx div.CourseList div.list h4 {
    background:no-repeat top center;
    color:#18612a;
    height:140px;
    text-indent:-10000px;
}

#courses_aspx div.CourseList div.list.Bush h4 { background-image:url('../images/courses_aspx/Wilderness.gif'); }
#courses_aspx div.CourseList div.list.Outdoor h4 { background-image:url('../images/courses_aspx/TeamBuilding.gif'); }
#courses_aspx div.CourseList div.list.Rural h4 { background-image:url('../images/courses_aspx/Crafts.gif'); }
#courses_aspx div.CourseList div.list.Corporate h4 { background-image:url('../images/courses_aspx/Corporate.gif'); }







		    /*** course_aspx ***/
#course_aspx img.CourseType { padding:5px; border:0; margin:0; float:left; display:block; }


            /*** contactus_aspx ***/
            
#contact_us_aspx div.box { padding-bottom:10px; text-align:right; } 
#contact_us_aspx div.box.form { float:left; width:45%; padding:0 10px 10px 10px; } 
#contact_us_aspx div.box.form p.text { text-align:left; } 
#contact_us_aspx div.box.alternative { float:right; width:45%; }
#contact_us_aspx input, textarea { margin:0; padding:0px; } 
#contact_us_aspx input.text { width:260px; } 
#contact_us_aspx .radio input { padding:0px 3px 0px 20px; background-color:transparent; } 
#contact_us_aspx .radio label { margin:0px 20px 0px 3px; background-color:transparent; } 
#contact_us_aspx textarea{ width:90%; height:260px; } 
#contact_us_aspx h6{ margin-bottom:0; }
#contact_us_aspx input.submit{ display:block; margin:0 auto; width:150px; }


            /*** how_to_find_us_aspx ***/
            
/* Google Map iframe: */
#how_to_find_us_aspx iframe {
    margin:0 0 0 20px;
    border:1px solid black;
    width:600px;
    height:500px;
    display:block;
    float:left;
}

           /** think-tank.aspx ***/
#think-tank_aspx .ThinkTankPanel { text-align:center; padding:30px ; }
#think-tank_aspx .ThinkTankPanel .firstRow p { width:300px; float:left; text-align:right; }
#think-tank_aspx .ThinkTankPanel textarea { width:500px; }

        /***  events_aspx  ***/
#events_aspx div.DisplayEvents div.event h2
{
    margin:0 20px;
    padding:0;
    background:white;
    color:#18612a;
    font-weight:bold;
    text-align:left;
}

#events_aspx div.DisplayEvents div.event span.date
{
    float:right;
    width:350px;
    text-align:right;
    display:block;
}
